/* part black */
main {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

main .black-line {
    position: relative;
    background-color: #1c1c1c;
    height: 1600px;
    padding: 40px 10%;
    display: flex;
    /*justify-content: flex-start;*/
    align-items: center;
    flex-wrap: wrap;
}

/* part cards */
main .black-line .big-card {
    background-image: url(img/jumbotron.jpg);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 290px;
    background-size: cover;
    background-repeat: no-repeat;
}

main .btn-series button {
    position: absolute;
    background-color: #0282f9;
    color: #ffffff;
    padding: 4px 20px;
    border: none;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    top: 50px;
    left: 30%;
    transform: translateX(-50%);
}

main .comic-card {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: calc((100% / 6) - 17px);
    flex-grow: 0;
    flex-shrink: 0;
}

main .comic-card img {
    width: 100%;
    aspect-ratio: 1 / 1;
    padding: 30px;
    object-fit: cover;
    object-position: top;
}

main .comic-card p {
    color: #ffffff;
    margin: 0;
    font-size: 8px;
    text-transform: uppercase;
    font-weight: bold;
}

main .btn-add button {
    position: absolute;
    background-color: #0282f9;
    color: #ffffff;
    padding: 4px 20px;
    border: none;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
}

/* main .black-line p {
    color: #ffffff;
    font-size: 16px;
    font-weight: bold;
} */

/* part blue */
main .blue-line {
    background-color: #0282f9;
    padding: 35px 12%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

main .blue-line .shop-item {
    display: flex;
    align-items: center;
    gap: 15px;
}

main .blue-line img {
    height: 40px;
    width: auto;
    max-width: 55px;
    object-fit: contain;
}

main .blue-line span {
    color: #ffffff;
    font-size: 13px;
    font-weight: 400;
}