/* part black */
main .black-line {
    background-color: #1c1c1c;
    padding: 40px 10%;
    display: flex;
    justify-content: left;
    align-items: center;
}

main .black-line input::placeholder {
    color: #ffffff;
    opacity: 1;
}

main .black-line input {
    background: transparent;
    border: none;
    color: #ffffff;
    outline: none;
}

/* part blue */
main .blue-line {
    background-color: #0282f9;
    padding: 40px 10%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

main .blue-line .shop-item {
    display: flex;
    align-items: center;
    gap: 15px;
}

main .blue-line img {
    height: 35px;
    width: auto;
}

main .blue-line span {
    color: #ffffff;
}